<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>

<body>
  <%- include('partials/header') %>
  <h1><%= pageTitle %></h1>

  <h2><%=image.title%></h2>
  <figure>
    <img class ="img" src="/<%=image.pathURL%>" alt="<%=image.title%>"  width="<%=image.width%>" height="<%=image.height%>">
    <figcaption> <%-image.creditURL%> <%=image.photoCredit%>   <%-image.linkURL%>  </figcaption>
    <p><%=image.description%> </p>
  </figure>

  <footer class="footer"><%- include('partials/footer'); %></footer>
  <script src="/JS/main.js"></script>
</body>
</html> 